{% extends 'base.html.twig' %}

{% block title %}{{ 'title'|trans({'%firstName%': user.firstName, '%lastName%': user.lastName}, 'globals') }}{% endblock %}

{% block body %}
    {% include "header.html.twig" %}
	<main class="flex-grow" data-controller="scroll">
        {% include "hero.html.twig" %}
        {% include "about.html.twig" %}
        {% include "experience.html.twig" %}
        {% include "project.html.twig" %}
        {% include "contact.html.twig" %}
    </main>
    {% include "footer.html.twig" %}
{% endblock %}
