<header class="fixed w-full top-0 z-50 transition-all duration-300 bg-transparent">
	<div class="container mx-auto px-4 py-4 flex justify-between items-center">
		<a href="#hero" class="text-2xl font-bold flex items-center" style="opacity: 1;">
			<span class="text-primary">{{ firstName }}</span>
			<span class="text-secondary ml-1">{{ lastName }}</span>
		</a>
		<nav class="hidden md:flex space-x-8">
			<a href="#about" class="font-medium transition-colors hover:text-primary leading-10" style="opacity: 1; transform: none;">About</a>
			<a href="#experience" class="font-medium transition-colors hover:text-primary leading-10" style="opacity: 1; transform: none;">Experience</a>
			<a href="#project" class="font-medium transition-colors hover:text-primary leading-10" style="opacity: 1; transform: none;">Projects</a>
			<a href="#contact" class="font-medium transition-colors hover:text-primary leading-10" style="opacity: 1; transform: none;">Contact</a>
			<div style="opacity: 1; transform: none;">
				<button class="cursor-pointer inline-flex items-center justify-center gap-2 whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 [&amp;_svg]:pointer-events-none [&amp;_svg]:size-4 [&amp;_svg]:shrink-0 text-primary-foreground h-10 px-4 py-2 bg-primary hover:bg-primary/90">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download mr-2 h-4 w-4">
						<path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
						<polyline points="7 10 12 15 17 10"></polyline>
						<line x1="12" x2="12" y1="15" y2="3"></line>
					</svg>Download CV</button>
			</div>
		</nav>
		<button class="cursor-pointer md:hidden text-secondary focus:outline-none" aria-label="Toggle mobile menu">
			<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
				<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
			</svg>
		</button>
	</div>
</header>
